.tabs-container {
  display: flex;
  overflow-x: auto;
}

.tab-btn {
  background: transparent;
  border: none;
  padding: 14px;
  cursor: pointer;
  white-space: nowrap;
  font-size: 16px;
}

.active-tab {
  color: #d43f3a;
  border-bottom: 2px solid #d43f3a;
}
